<template>
  <h1>Items</h1>
  <ApolloQuery
    :query="gql => gql`
      {
        items {
          uuid
          title
          status
          category
          owner
        }
      }`"
  >
    <template v-slot="{ result: { loading, error, data } }">
      <div v-if="loading" class="loading apollo">Loading...</div>
      <div v-else-if="error" class="error apollo">An error occurred</div>

      <div v-else-if="data" class="result apollo">
        <ItemsListComponent
          :items="data.items"
        />
      </div>
    </template>
  </ApolloQuery>
</template>

<script>
import ItemsListComponent from "../components/ItemsListComponent.vue"
export default {
  components: {
    ItemsListComponent
  },
}
</script>
