<template>
  <h1>Details</h1>
  <ApolloQuery
    :query='gql => gql`
      {
        item(uuid: "${$route.params.uuid}") {
          title
          status
          category
          owner
          holder
          description
          tags {
            key
            value
          }
        }
      }`'
  >
    <template v-slot="{ result: { loading, error, data } }">
      <div v-if="loading" class="loading apollo">Loading...</div>
      <div v-else-if="error" class="error apollo">An error occurred</div>

      <div v-else-if="data" class="result apollo">
        <v-container v-if="data && data.item">
          <ItemDetailComponent
            :item="data.item"
          />
        </v-container>
      </div>
      <div v-else class="no-result apollo">No result :(</div>
    </template>
  </ApolloQuery>
</template>

<script>
import ItemDetailComponent from "../components/ItemDetailComponent.vue"
export default {
  components: {
    ItemDetailComponent
  }
}
</script>
