<template>
  <h1>Create Item</h1>
  <ItemCreateComponent/>
</template>

<script>
import ItemCreateComponent from "../components/ItemCreateComponent.vue"
export default {
  components: {
    ItemCreateComponent
  }
}
</script>
