<template>
  <h1>Login</h1>
  <ApolloMutation
    :mutation="gql => gql`
      mutation LoginMutation($username:String!, $password:String!) {
        userPasswordAuthenticationMutation(username:$username, password:$password){
          success
          accessToken
        }
      }`"
    :variables="{ username, password }"
    @done="login"
  >
    <template v-slot="{ mutate, error }">
      <v-container>
        <v-container>{{ errorMessage }}</v-container>
        <v-form ref="form" @submit.prevent="mutate()">
          <v-text-field
            v-model="username"
            label="Username"
            required
          ></v-text-field>

          <v-text-field
            v-model="password"
            type="password"
            label="Password"
            required
          ></v-text-field>

          <v-btn
            color="info"
            type="submit"
          >
            Login
          </v-btn>
        </v-form>
        <div v-if="error">Error</div>
      </v-container>
    </template>
  </ApolloMutation>
</template>

<script>
import { useUserStore } from "@/main"

export default {
  setup() {
    const store = useUserStore()
    return { store }
  },
  data () {
    return {
      username: "",
      password: "",
      errorMessage: "",
    }
  },
  methods: {
    login(mutation) {
      if (this.store.login(mutation)) {
        this.$router.push({path: '/'})
      } else {
        this.errorMessage = "Wrong username or password."
      }
    }
  }
}
</script>
