<template>
  <v-table>
    <thead>
      <tr>
        <th
          class="text-left"
          v-for="header of headers"
          :key="header"
        >
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item in items"
        :key="item.uuid"
      >
        <td><a :href="`#/items/${item.uuid}`">{{ item.title }}</a></td>
        <td>{{ item.status }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.owner }}</td>
      </tr>
    </tbody>
  </v-table>
</template>

<script>
export default {
  props: {
    items: Array,
  },
  data() {
    return {
      headers: [
        "Title",
        "Status",
        "Category",
        "Owner",
      ]
    }
  },
}
</script>
