<template>
  <v-card>
    <v-card-title>{{ item.title }}</v-card-title>
    <v-card-subtitle>Owner: {{ item.owner }}</v-card-subtitle>
    <v-card-subtitle>Holder: {{ item.holder }}</v-card-subtitle>
    <v-card-subtitle>Status: {{ item.status }}</v-card-subtitle>
    <v-card-text>{{ item.description }}</v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      item: Object
    }
  }
</script>
