<template>
  <ApolloMutation
    :mutation="gql => gql`
      mutation CreateItemMutation($category: String!, $status_: String!, $title: String!, $description: String) {
        createItemMutation(category: $category, status: $status_, title: $title, description: $description) {
          item {
            uuid
            title
            status
            category
            owner
          }
        }
      }
    `"
    :variables="{
      category, status_, title, description
    }"
    @done="onDone"
    :update="updateCache"
  >
    <template v-slot="{ mutate, loading, error }">
      <v-form v-model="valid">
        <v-container>
          <v-text-field
            v-model="category"
            label="Category"
            required
          ></v-text-field>
          <v-text-field
            v-model="status_"
            label="Status"
            required
          ></v-text-field>
          <v-text-field
            v-model="title"
            label="Title"
            required
          ></v-text-field>
          <v-text-field
            v-model="description"
            label="Description"
            required
          ></v-text-field>
          <v-btn
            color="success"
            :disabled="loading"
            @click="mutate()"
          >
            Create
          </v-btn>
        </v-container>
      </v-form>
      <p v-if="error">An error occurred: {{ error }}</p>
    </template>
  </ApolloMutation>
</template>

<script>
  import gql from "graphql-tag";

  export default {
    data: () => ({
      valid: false,
      category: "",
      status_: "",
      title: "",
      description: "",
    }),
    methods: {
      onDone(result) {
        if (result.data.createItemMutation.item.uuid) {
          this.$router.push({path: '/items'})
        }
      },
      updateCache(store, { data: { createItemMutation } }) {
        const query = {
          query: gql`{
          items {
            uuid
            title
            status
            category
            owner
          }
        }`};

        const data = store.readQuery(query);
        if (!data) return;
        let dataCopy = JSON.parse(JSON.stringify(data));
        dataCopy.items.push(createItemMutation.item);

        store.writeQuery({
          ...query,
          dataCopy,
        });
      },
    },
  }
</script>
