<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Leihen und Schenken
          </v-list-item-title>
          <v-list-item-subtitle>
            Geben und nehmen
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <ApolloQuery
          :query="gql => gql`
            {
              frontendMenu {
                slug
              }
            }`"
        >
          <template v-slot="{ result: { loading, error, data } }">
            <div v-if="loading" class="loading apollo">Loading...</div>
            <div v-else-if="error" class="error apollo">An error occurred</div>

            <div v-else-if="data" class="result apollo">
              <v-list-item
                v-for="item in store.nav_items"
                :key="item"
                :to="nav_items[item].path"
                link
              >
                <v-list-item-title>{{ nav_items[item].title }}</v-list-item-title>
              </v-list-item>
            </div>
          </template>
        </ApolloQuery>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer></v-spacer>

      <v-btn icon v-if="store.loggedIn">
        <v-icon @click="logout">mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <router-view/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { useUserStore } from "@/main"

export default {
  name: 'App',

  setup() {
    const store = useUserStore()
    return { store }
  },
  data: () => ({
    drawer: null,
    nav_items: {
      "home": { title: "Home", path: "/" },
      "login": { title: "Login", path: "/login" },
      "myItems": { title: "My Items", path: "/items/my" },
      "items": { title: "Items", path: "/items" },
      "createItem": { title: "Create Item", path: "/items/create" },
    },
  }),
  methods: {
    logout() {
      this.store.logout()
      this.$router.push({ path: '/'})
    }
  }
}
</script>
